/* General styles for the ebook page */
.ebook-page-container {
  padding: 20px;
  background-color: #000;
  color: #fff;
}

/* Header */
.header-ebooks {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust as needed */
}

.header-title {
  font-size: 2.5em;
  background: linear-gradient(90deg, #EAA7DC 0%, #E4BC7F 64.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* Search bar */
.search-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-bar {
  width: 300px;
  padding: 10px;
  font-size: 1em;
  border: 2px solid #DEA07A;
  border-radius: 4px;
  background-color: black;
  color: white;
}

/* Filter container */
.filter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-label {
  font-size: 1.2rem;
  margin-right: 10px;
}

.year-range-inputs {
  display: flex;
  gap: 5px;
}

.year-input {
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #DEA07A;
  border-radius: 4px;
  background-color: black;
  color: white;
}

/* Book grid */
.book-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  margin-top: 20px;
}

/* Book item styling */
.book-item {
  text-align: center;
}

.book-cover {
  height: 150px;
  width: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.add-to-shelf {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #DEA07A;
  color: white;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}

.add-to-shelf:hover {
  background-color: #CC926D;
}

/* Pagination button */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.next-page-button {
  padding: 10px 15px;
  background-color: #DEA07A;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.next-page-button:hover {
  background-color: #CC926D;
}

/* Responsive design for smaller screens */
@media (max-width: 1200px) {
  .book-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .book-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .book-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.loading-text {
  text-align: center;
  color: white;
  font-size: 1.2rem;
  margin-top: 20px;
}