.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    background-color: black;
    color: white;
    border: 2px solid #DEA07A;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    color: white;
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .btn {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #DEA07A;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #CC926D;
  }
  
  .error {
    color: white;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  
  .success {
    color: green;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  