<!-- app/views/home/index.html.erb -->

<!-- This is where your React component will be rendered -->
<div id="home-page-react"></div>

<%= javascript_pack_tag 'home_page' %> <!-- Include the React JavaScript pack -->
