
  .form {
    color: white;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: black;
    border: 1px solid #DEA07A;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-title h1 {
  background: linear-gradient(90deg, #EAA7DC 0%, #E4BC7F 64.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 2.5em;
  }
    
  
  .field {
    margin-bottom: 15px;
  }
  
  .field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    color: white;
  }
  
  .field input[type="text"],
  .field input[type="email"],
  .field input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    box-sizing: border-box;
  }
  
  .field input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .actions input[type="submit"] {
    font-family: 'Bona Nova', serif;
    display: block;
    width: 100%;
    padding: 10px;
    background: #DEA07A;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .actions input[type="submit"]:hover {
    background:#CC926D;
  }

  .error_messages {
    color: white;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ffcccc;
    background: white;
    border-radius: 4px;
  }
  